.header {
    max-width: 1184px;
    width: 92.5%;
    position: relative;
    margin: 0;
    padding-top: 28px;
    padding-left: 48px;
    padding-right: 48px;
    display: flex;
    justify-content: space-between;
}


@media screen and (max-width: 1279px) {
    .header {
        width: 90.625%;
    }
}

@media screen and (max-width: 1023px) {
    .header {
        width: 93.75%;
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media screen and (max-width: 767px) {
    .header {
        width: 90%;
        padding-top: 16px;
        padding-left: 16px;
        padding-right: 16px;
    }
}