.place {
    position: static;
    display: grid;
    margin-top: 80px;
    grid-template-columns: 460px 1fr;
    grid-template-rows: minmax(min-content, max-content) 460px;
    gap: 48px 40px;
}

.place:first-of-type {
    margin-top: 0;
}

@media screen and (max-width: 1278px) {
    .place {
        grid-template-columns: 440px 1fr;
        grid-template-rows: minmax(min-content, max-content) 440px;
        gap: 48px 32px;
    }
}

@media screen and (max-width: 1023px) {
    .place {
        grid-template-columns: 340px 1fr;
        grid-template-rows: minmax(min-content, max-content) minmax(min-content, max-content);
        gap: 48px 28px;
        margin-top: 73px;
    }
}

@media screen and (max-width: 766px) {
    .place {
        display: block;
        flex-direction: column;
        margin-top: 61px;
    }
}