.place__website {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    align-self: end;
}

@media screen and (max-width: 767px) {
    .place__website {
        display: none;
    }
}